body{
   background: #FFF0F5;
}
.app{
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
   background-color: rgb(195, 236, 224);
   width: 900px;
   height: 200px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 20px;
}


.app__input{
   margin: 10px;
}
.app__input:focus{
   outline-color:  rgb(207, 207, 33);
}
.app__button{
   margin: 10px;
   padding: 5px;
}

.app__button:hover{
   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
}

.app__button-disabled{
   background-color: rgb(143, 143, 143);
}

input:nth-of-type(2n){
   border: 2px solid rgb(20, 50, 224);
}